<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.api.dao.account.AdminInfoMapper">

    <select id="getAdminExsist" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM
            perfectfit.admin WHERE id = #{userid}
    </select>

    <select id="getAdminInfo" resultType="com.example.api.entity.Admin">
        SELECT *
        FROM perfectfit.admin,
        WHERE id = #{userid} AND pw = #{passwd}
    </select>

    <insert id="updateAdmin" parameterType="hashMap" >
        INSERT INTO ACCES_ALL_DTA (
                                   URL
                                  ,AU_ID
                                  ,ROOT_DOMAIN
                                  ,REG_DATE
                                  ,KEYWORD
        )
        VALUES (#{uri}
               , #{auid}
               , #{rootDomain}
               , #{regDate}
               , #{keyword}
               )
    </insert>

    <update id="insertAdmin" parameterType="hashMap" >
        UPDATE SET admin (
            ID
            ,PW
            ,NAME
            ,IMG_URL
            ,NICKNAME
            ,PHONE
            ,CREATE_DT
            ,UPDATE_DT
            ,DELETE_DT
            ,SHOW_YN
            ,DELETE_YN
            ,CREATE_BY
            ,UPDATE_BY
            ,DELETE_BY
        )
        VALUES (
            #{id}
            ,#{pw}
            ,#{name}
            ,#{img_url}
            ,#{nickname}
            ,#{phone}
            ,#{create_dt}
            ,#{update_dt}
            ,#{delete_dt}
            ,#{show_yn}
            ,#{delete_yn}
            ,#{create_by}
            ,#{update_by}
            ,#{delete_by}
        )
    </update>

</mapper>