<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.api.dao.account.UserInfoMapper">

    <select id="getAdminExsist" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM
            perfectfit.admin WHERE id = #{id}
    </select>

    <select id="getAdminInfo" resultType="com.example.api.entity.Admin">
        SELECT
            A.MEDIA_ID AS mediaName,
            A.MAIN_DOMAIN AS rootDomain,
            A.COT_PLTFOM_TP_CODE AS platform,
            A.PRTCL_TP_CODE AS protocol,
            A.RPT_BDT_TAG AS selectTag,
            A.COT_GATR_TP_CODE AS crawlerType,
            A.MEDIA_TY_SEQ AS mediaType,
            A.GATR_YN AS checkGather,
            A.HTML_TAG_FLAG  AS htmlTagFlag
        FROM
            COT_DOMAIN_MNG_INFO A,
            (SELECT MEDIA_ID, MAIN_DOMAIN FROM COT_DOMAIN_INFO WHERE
                COT_DOMAIN_INFO.MAIN_DOMAIN = #{rootDomain}) B
        WHERE 1=1 AND A.MEDIA_ID
            = B.MEDIA_ID AND A.MAIN_DOMAIN = B.MAIN_DOMAIN AND A.GATR_YN = "Y"
    </select>

    <insert id="updateAdmin" parameterType="hashMap" >
        INSERT INTO ACCES_ALL_DTA (
                                   URL
                                  ,AU_ID
                                  ,ROOT_DOMAIN
                                  ,REG_DATE
                                  ,KEYWORD
        )
        VALUES (#{uri}
               , #{auid}
               , #{rootDomain}
               , #{regDate}
               , #{keyword}
               )
    </insert>

    <update id="insertAdmin" parameterType="hashMap" >
        UPDATE SET admin (
            ID
            ,PW
            ,NAME
            ,IMG_URL
            ,NICKNAME
            ,PHONE
            ,CREATE_DT
            ,UPDATE_DT
            ,DELETE_DT
            ,SHOW_YN
            ,DELETE_YN
            ,CREATE_BY
            ,UPDATE_BY
            ,DELETE_BY
        )
        VALUES (
            #{id}
            ,#{pw}
            ,#{name}
            ,#{img_url}
            ,#{nickname}
            ,#{phone}
            ,#{create_dt}
            ,#{update_dt}
            ,#{delete_dt}
            ,#{show_yn}
            ,#{delete_yn}
            ,#{create_by}
            ,#{update_by}
            ,#{delete_by}
        )
    </update>

</mapper>